{% load static %}
<div id="HonorAndAwardsCard" class="container " >
    <div class="card mb-3 shadow-lg ">
      <div class="row no-gutters mt-2 ms-1">

        <div class="col-md-8 flex-fill d-flex justify-content-center align-items-center">
          <div class="card-body globalTextFormat text-shadow">
            <h5 class="card-title  ">Competations</h5>
            <ul>

              {% for i in competationList %}
                    <li class="subTitles mb-2 mt-4">{{ i.name }} : </li>
                  <p class=" mb-1">Date : {{ i.date }}</p>

              {% endfor %}
            </ul>
                </div>

          </div>

        </div>


      </div>
    </div>
