{% load static %}
<div id="educationCard" class="container " >
    <div class="card mb-3 shadow-lg ">
      <div class="row no-gutters mt-2 ms-1">

        <div class="col-md-8 flex-fill d-flex justify-content-center align-items-center">
          <div class="card-body globalTextFormat text-shadow">
            <h5 class="card-title  ">Education</h5>
             <ul>

                {% for i in educationList %}
                 <div class="education mt-4">
                <li class="mb-2 subTitles">{{ i.degree }} in {{ i.major }} </li>
                <p class="mb-1">From : {{ i.university }} </p>
                    <p class="mb-1">Start Date : {{ i.startDate }} </p>
                    <p class="mb-1"> End Date : {{ i.endDate }} </p>
                    <p>{{ i.note }}</p>
                </div>
                 {% endfor %}


            </ul>

          </div>
            <br>

        </div>


      </div>
    </div>
</div>